.audioPlayer {
  --primary: #f40082;
  --secondary: #ffd200;
  /* animation: 3s linear 5s 1 normal forwards running slideUp; */
  /* animation-name: slideUp;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-fill-mode: forwards; */
  animation-name: slideUp;
  /* animation-delay: 0.5s; */
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  transition: transform 0.8s cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes slideUp {
  /* 100%,
  5%,
  80% {
    bottom: 0;
  } */
  0% {
    bottom: -288px;
  }
  100% {
    bottom: 0;
  }
}

.forwardBackward {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: monospace;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}

.forwardBackward:hover {
  /* color: var(--primary); */
}

.playPause {
  background: var(--primary);
  border: none;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 32px;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  position: relative;
  left: 5px;
}

.currentTime,
.duration {
  font-family: monospace;
  font-size: 16px;
}

.currentTime {
  /* margin-left: 25px; */
}

.progressBar {
  --bar-bg: #777778;
  --seek-before-width: 0;
  --seek-before-color: red;
  --knobby: #f84f39;
  --selectedKnobby: #ea432d;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
  border: none;
  touch-action: none;
  user-select: none;
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

/* progress bar - firefox */
.progressBar::-moz-range-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
  content: "";
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-radius: 10px; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar - firefox */
.progressBar::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 11px;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 12px;
  border-radius: 0px;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -5px 0 0 0px;
  z-index: 3;
  box-sizing: border-box;
  transition-duration: 0.2s;
  /* transform: scale(1.2); */
}

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
  /* transition-duration: 0.2s; */
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

/* knobby - firefox */
.progressBar::-moz-range-thumb {
  appearance: none;
  height: 20px;
  width: 12px;
  border-radius: 0px;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  transition-duration: 0.2s;
}

/* knobby while dragging - firefox */
.progressBar:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}
