@font-face {
  font-family: "Monaspace";
  src: url("../../public/SyntaxHighlightLightOwl.woff2") format("woff2");
}

/* light theme */
@font-palette-values --kung-fury {
  font-family: "Monaspace";
  override-colors:
    0 hsl(225 100% 40%),
    /* curlies and tags */ 1 hsl(250 100% 80%),
    /* ? */ 2 hsl(225 100% 40%),
    /* function */ 3 hsl(225 100% 40%),
    /* ? */ 4 hsl(270 50% 40%),
    /* () */ 5 hsl(210 40% 2%),
    /* property name */ 6 hsl(210 10% 30%),
    /* ? */ 7 hsl(327 100% 54%) /* numbers */;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-theme="light"] {
    /* --color-primary: 248, 79, 57; */
    --brand-primary: 252, 89, 30;
    --background-primary: #fcfcfc;
    --background-secondary: #f9f9f9;
    --ui-normal: #f0f0f0;
    --ui-hover: #e8e8e8;
    --ui-active: #e0e0e0;
    --border-non-interactive: #d9d9d9;
    --border-interactive: #cecece;
    --border-focus-ring: #bbbbbb;
    --text-primary: #202020;
    --text-secondary: #646464;

    /* --text-color: 0, 0, 0;
    --border-color: 136, 136, 136; */
    /* #fc5200 */
  }

  [data-theme="dark"] {
    --brand-primary: 252, 89, 30;
    --background-primary: #1a1a1a;
    --background-secondary: #232323;
    --ui-normal: #222222;
    --ui-hover: #2a2a2a;
    --ui-active: #313131;
    --border-non-interactive: #3a3a3a;
    --border-interactive: #484848;
    --border-focus-ring: #606060;
    --border-primary: #2e2e2e;
    --text-primary: #f2f2f2;
    --text-secondary: #a0a0a0;
    --danger: #d93036;
  }

  html {
    font-family: var(--font-inter);
    caret-color: #f84f39;
    accent-color: #f84f39;

    scrollbar-gutter: stable;

    /* color: #fc591e; */

    /* scrollbar-color: hotpink blue;
    scrollbar-width: none;
    scrollbar-width: thin;
    scrollbar-color: #f84f39 #eee; */
  }

  /* html {
    animation: smoothscroll1 1s;
  }

  html:focus-within {
    animation-name: smoothscroll2;
    scroll-behavior: smooth;
  } */

  [id] {
    scroll-margin-top: 30px;
  }

  body {
    color: #1d1d1f;
    overflow-x: hidden;
    /* background-color: #fafafa;
    background-color: #fcfcfc; */
    /* background-color: #fcfaf0; */
    /* background-color: #f7f6f5; */
    /* background-color: #fafafa; */

    /* background-color: #f4f4f5 */
    /* background: #f6f0ea;
    color: #313131; */
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol"; */
  }
  html,
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    color: #ff5a1f;
  }

  .animation-pause {
    animation-play-state: paused;
  }

  .animation-run {
    animation-play-state: running;
  }
}

.custom-underline {
  background-image: linear-gradient(#fc591e, #fc591e);
  background-size: 100% 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

/* article {
  p,
  table,
  ul,
  img {
    margin: 1em 0 !important;
    font-size: 20px;
  }

  table {
    border-collapse: collapse;

    td,
    th {
      border: 1px solid #ccc;
      padding: 0.5em;
    }
  }

  pre {
    white-space: pre-wrap;
    &:has(code) {
      padding: 1em;
      background: #f6f8fa;
      border-radius: 5px;
    }
  }
} */

::selection {
  background: #ff5a1f;
  color: #fff;
}

.juBESy > input {
  opacity: 0;
  position: absolute;
}

/* .outline-none {
  outline: none !important;
} */

input {
  font-size: 16px;
}

input:focus-visible,
a:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 2px #f84f39,
    0 0 0 2px #f84f39;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 124, 79, 57;
  }
} */

.body.markup a {
  text-decoration: underline;
  text-decoration-color: #f84f39;
}

/* custom scrollbar */

.drawer {
  scrollbar-gutter: stable;
}

.drawer::-webkit-scrollbar {
  width: 20px !important;
}

.drawer::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.drawer::-webkit-scrollbar-thumb {
  background-color: #d6dee1 !important;
  border-radius: 20px !important;
  border: 6px solid transparent !important;
  background-clip: content-box !important;
}

.drawer::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #f84f39;
  /* border-radius: 10px;
  border: 6px solid transparent; */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}

.music-bars {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;

  span {
    width: 3px;
    height: 100%;
    background-color: #f84f39;
    border-radius: 3px;
    transform-origin: bottom;
    animation: bounce 2.2s ease infinite alternate;
    content: "";
    &:nth-of-type(2) {
      animation-delay: -2.2s; /* Start at the end of animation */
    }

    &:nth-of-type(3) {
      animation-delay: -3.7s; /* Start mid-way of return of animation */
    }
  }
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}

@keyframes smoothscroll1 {
  from,
  to {
    scroll-behavior: smooth;
  }
}

@keyframes smoothscroll2 {
  from,
  to {
    scroll-behavior: smooth;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    animation: none;
  }
  html:focus-within {
    scroll-behavior: auto;
  }
}

textarea {
  min-block-size: 3.5rlh;
  min-inline-size: 20ch;
  max-inline-size: 50ch;

  /* field-sizing: content; */
}

pre {
  scrollbar-width: thin !important;
  scrollbar-color: rgb(var(--color-primary)) #eee !important;
}

pre code {
  font-family: "Monaspace", monospace !important;
  /* font-palette: --kung-fury !important; */
}
