@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 248, 79, 57;
}

@layer base {
  html {
    font-family: var(--font-inter);
    caret-color: #f84f39;
    accent-color: #f84f39;
  }
  body {
    overflow-x: hidden;
    /* background-color: #f9f2e2; */
  }
  html,
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    color: #ff5a1f;
  }
}

.custom-underline {
  background-image: linear-gradient(#000, #000);
  background-size: 100% 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

article {
  p,
  table,
  ul,
  img {
    margin: 1em 0 !important;
    /* font-size: 20px; */
  }

  table {
    border-collapse: collapse;

    td,
    th {
      border: 1px solid #ccc;
      padding: 0.5em;
    }
  }

  pre {
    white-space: pre-wrap;
    &:has(code) {
      padding: 1em;
      background: #f6f8fa;
      border-radius: 5px;
    }
  }
}

::selection {
  background: #ff5a1f;
  color: #fff;
}

.juBESy > input {
  opacity: 0;
  position: absolute;
}

.outline-none {
  outline: none !important;
}

input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #fcfcfc, 0 0 0 4px #8f8f8f;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 124, 79, 57;
  }
} */
