@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 248, 79, 57;
}

@layer base {
  html {
    font-family: var(--font-inter);
    caret-color: #f84f39;
    accent-color: #f84f39;

    scrollbar-gutter: stable;
    /* scrollbar-color: hotpink blue;
    scrollbar-width: none; */
    scrollbar-width: thin;
    scrollbar-color: #f84f39 #eee;
  }
  body {
    color: #1d1d1f;
    overflow-x: hidden;
    /* background-color: #f4f4f5; */
    /* background-color: #fafafa; */

    /* background-color: #f4f4f5 */
    /* background: #f6f0ea;
    color: #313131; */
  }
  html,
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    color: #ff5a1f;
  }
}

.custom-underline {
  background-image: linear-gradient(#000, #000);
  background-size: 100% 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

/* article {
  p,
  table,
  ul,
  img {
    margin: 1em 0 !important;
    font-size: 20px;
  }

  table {
    border-collapse: collapse;

    td,
    th {
      border: 1px solid #ccc;
      padding: 0.5em;
    }
  }

  pre {
    white-space: pre-wrap;
    &:has(code) {
      padding: 1em;
      background: #f6f8fa;
      border-radius: 5px;
    }
  }
} */

::selection {
  background: #ff5a1f;
  color: #fff;
}

.juBESy > input {
  opacity: 0;
  position: absolute;
}

/* .outline-none {
  outline: none !important;
} */

input:focus-visible,
a:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 2px #fcfcfc,
    0 0 0 4px #f84f39;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 124, 79, 57;
  }
} */
/* Podcast Player */
.audioPlayer {
  --primary: #f40082;
  --secondary: #ffd200;

  align-items: center;
  display: flex;
  width: 700px;
}

.forwardBackward {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: monospace;
  font-size: 16px;
  cursor: pointer;
}

.forwardBackward:hover {
  color: var(--primary);
}

.playPause {
  background: var(--primary);
  border: none;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 32px;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  position: relative;
  left: 5px;
}

.currentTime,
.duration {
  font-family: monospace;
  font-size: 16px;
}

.currentTime {
  margin-left: 25px;
}

.progressBar {
  --bar-bg: #ffe3d4;
  --seek-before-width: 0;
  --seek-before-color: #ffc2a1;
  --knobby: #3452a5;
  --selectedKnobby: #26c9c3;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

/* progress bar - safari */
.progressBar::-webkit-slider-runnable-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

/* progress bar - firefox */
.progressBar::-moz-range-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome and safari */
.progressBar::before {
  content: "";
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* progress bar - firefox */
.progressBar::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 11px;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - chrome and safari */
.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

/* knobby - firefox */
.progressBar::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

/* knobby while dragging - firefox */
.progressBar:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

/*Custom AudioCSS*/
audio::-webkit-media-controls-panel {
  background-color: transparent;
}

audio::-webkit-media-controls-play-button {
  display: none;
}

.body.markup a {
  text-decoration: underline;
  text-decoration-color: #f84f39;
}
